<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @pet.category %>
</p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @pet.price %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pet.age %>
</p>

<p>
  <strong>Desexed:</strong>
  <%= @pet.desexed %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pet.description %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
